.main-background {
    width:100%;
    height: 500px;
    background-image: url(../shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* filter:brightness(70%); */
}

.main-title {
    color: white;
    font-size: 30px;
    /* margin-top: 300px; */
}

/* margin collapser 현상
테두리가 겹치는 경우 둘 중 더 큰 margin 하나만 적용 
[해결 방법]
테두리를 만나지 않게 해주면 됨
*/

.main-content {
    color:aliceblue;
    font-size: 20px;
    text-align: center;
}